@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-900 antialiased bg-white font-sans;
    font-feature-settings: 'kern' 1;
  }
}


@layer components {
  .animate-pulse {
    animation-duration: 1.5s;
  }
}